/* Universal Styling */
html,
body {
    height: 100%;
    margin: 0;
    text-align: center;
}

.box {
    color: rgb(15, 15, 15);
    background-color: rgba(150, 150, 150, 0.9);
    width: fit-content;
    max-width: 620px;
    padding: 0 0.25% 0.25% 0.5%;
    border-left: 50px solid #800020;
    border-radius: 25px;
    text-align: left;
}

.cursive {
    font-family: cursive, serif;
}

/* Navigation */

nav {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    border-bottom: 1px solid gray;
    background-color: rgb(238, 238, 238);
    text-align: left;
}

nav li {
    display: inline;
    margin: auto 1rem;
}

nav a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: blue;
}

.selected {
    color: rgb(210, 0, 0)
}

/* Home */

#home {
    margin-top: 50px;
    background-image: url('../images/stefany-andrade-GbSCAAsU2Fo-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

header {
    margin-top: 8%;
    margin-left: 6%;
}

header h1 {
    font-size: 6.5rem;
    margin: 0;
}

header h2 {
    font-size: 5rem;
    margin: 0;
}

header p {
    font-size: 1.5rem;
}

/* About Us */

.bio h3 {
    font-size: 2rem;
}

.bio p {
    font-size: 1.3rem;
}

.bio {
    background-repeat: no-repeat;
    height: 960px;
    text-align: center;
    color: white;
}

#claudia-bio {
    background-image: url(../images/Claudia_1.jpg);
    background-position: 100% 7%;
}

#bob-bio {
    background-image: url(../images/IMG_1181.JPG);
    background-position: 25% 7%;
}

#ross-bio {
    background-image: url(../images/20181216_161358.jpg);
    background-position: 95% 35%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(20,20,20,0.8);
    height: 960px;
    overflow-y: auto;
    padding: 0 1% 0 1%;
}

#claudia-container {
    margin-left: 50%;
    margin-right: 1%;
}

#bob-container {
    margin-right: 50%;
    margin-left: 1%;
}

#ross-container {
    margin-left: 50%;
    margin-right: 1%;
}

.portrait {
    display: none;
}

/* Students */

.music-background {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-image: url('../images/SheetMusic1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100%;
}

#pass-form {
    margin: 6% auto;
    padding: 0.25% 0.25% 0.5% 0.5%;
    max-width: 250px;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
}

.link-box {
    color: rgb(15, 15, 15);
    background-color: rgba(150, 150, 150, 0.9);
    width: fit-content;
    margin: 4% auto;
    padding: 0.25% 0.25% 0.5% 0.5%;
    max-width: 400px;
    border-left: 30px solid #800020;
    border-radius: 25px;
    text-align: left;
}

.links {
    display: flex;
    flex-direction: column;
}

.link-box h4 {
    font-size: 1.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
}

h5 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.link-box a {
    font-size: 1.1rem;
}

button:hover {
    opacity: 0.8;
}

#student-links {
    display: flex;
    flex-wrap: wrap;
}

/* Contact */

#contact {
    margin: 6% auto;
    padding: 0.25% 0.25% 1% 0.5%;
    max-width: 400px;
}

#contact h1 {
    font-size: 3rem;
    margin: 0.5rem;
}

/* Store */

.store-box {
    color: rgb(15, 15, 15);
    background-color: rgba(150, 150, 150, 0.9);
    width: fit-content;
    margin: 4% auto;
    padding: 0.25% 0.25% 0.25% 0.5%;
    max-width: 515px;
    border-left: 30px solid #800020;
    border-radius: 25px;
    text-align: left;
}

.in-store-box {
    color: rgb(15, 15, 15);
    background-color: rgba(150, 150, 150, 0.9);
    width: fit-content;
    margin: 4% auto;
    padding: 0.25% 0.25% 0.25% 0.5%;
    max-width: 800px;
    border-left: 30px solid #800020;
    border-radius: 25px;
    text-align: left;
}

.store-img {
    height: 240px;
    width: 180px;
    display: cover;
    padding: 5px;
    background-color: grey;
    border: 1px solid black;
}

.in-store-img {
    height: 440px;
    width: 360px;
    display: cover;
    padding: 5px;
    background-color: grey;
    border: 1px solid black;
}

.music-store {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.music-store a {
    color: black;
}

.music-content {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.store-music-content {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.music-content p {
    margin: 0.25em;
}

.store-music-content p {
    margin: 0.25em;
}

/* Size Rules */

@media only screen and (max-width: 720px) {
    header {
        margin: 0;
        width: 100%;
        border-radius: 0px;
    }

    header h1 {
        font-size: 4rem;
    }

    header h2 {
        font-size: 3.5rem;
    }

    header p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1499px) {
    #claudia-bio {
        background-position: 75% 7%;
    }
    
    #bob-bio {
        background-position: 40% 7%;
    }
    
    #ross-bio {
        background-position: 85% 35%;
    }
}

@media only screen and (max-width: 1149px) {
    
    #bio-main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #claudia-bio {
        background-image: none;
    }
    
    #bob-bio {
        background-image: none;
    }
    
    #ross-bio {
        background-image: none;
    }

    #claudia-container {
        margin: 0;
    }
    
    #bob-container {
        margin: 0;
    }
    
    #ross-container {
        margin: 0;
    }

    .portrait {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0;
    }

    #cb-portrait {
        margin-top: 50px;
    }

    .container {
        width: 100%;
        height: fit-content;
    }

    .bio {
        height: fit-content;
    }
}

@media only screen and (max-width: 399px) {
    ul {
        padding: 0;
        list-style-type: none;
    }
}